#gallery{
  padding-left: 2rem;
  padding-right: 2rem;
  height: 700px;
}

#gallery h2 {
  margin-bottom: 40px;
}

.gallery__container{
  margin: 0 auto;
  width: 100%;
  max-width: 1260px;
}


.grid-item{
  float: left;
  height: auto;
  width: 200px;
}


.grid-item { 
  width: 20%;
  height: 200px;
  padding: 5px;
}
/* 2 columns */
.grid-item--width2 { width: 40%; }

.grid-item img{
  width: 100%;
}

.grid-item.adv{
  height: 200px;
  width: 200px;
}


