@import '/assets/css/modules/hero.css';
@import '/assets/css/modules/header.css';
@import '/assets/css/owl.carousel.min.css';
@import '/assets/css/modules/about.css';
@import '/assets/css/modules/news.css';
@import '/assets/css/modules/rooms.css';
@import '/assets/css/modules/services.css';
@import '/assets/css/modules/group.css';



@font-face {
    font-family: 'Karla';
    src: local('Karla'), local('Karla-Regular'), url('./karla/karla.woff2') format('woff2'), url('./karla/karla.woff') format('woff'), url('./karla/karla.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: local('Karla Bold'), local('Karla-Bold'), url('./karla/karlabold.woff2') format('woff2'), url('./karla/karlabold.woff') format('woff'), url('./karla/karlabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Karla', sans-serif;
}

* {
    outline: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-size: 36px;
    letter-spacing: 2px;
    text-align: center;
}

section:not(.hero) {
    padding: 30px 1.5rem;
}

.content-wrapper {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
}